{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling:join?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:27:27 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "991ee510-4ea2-11ec-8e39-efecbabf4936",
          "kind": "groupCallLocator"
        },
        "source": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-2040-3ef0-8b3a0d00f71c"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "9f773609-7a52-4a9a-9550-37548b141ffb"
      },
      "ResponseBody": {
        "callConnectionId": "4a201300-b122-495c-92ff-7460c39f8db9"
      }
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:27:47 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "991ee510-4ea2-11ec-8e39-efecbabf4936",
          "kind": "groupCallLocator"
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "participant": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-1ad0-eef0-8b3a0d00150c"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4ca0ebf-bf29-44ae-a020-97deaa32de93"
      },
      "ResponseBody": {
        "participantId": "d85de5b5-7a90-4610-b5ac-7c5ff3d8724a"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants:get?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:28:02 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "991ee510-4ea2-11ec-8e39-efecbabf4936",
          "kind": "groupCallLocator"
        },
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-1ad0-eef0-8b3a0d00150c"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "9fcd77cd-6577-42d4-a117-0507d340e594"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-1ad0-eef0-8b3a0d00150c",
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-1ad0-eef0-8b3a0d00150c"
          }
        },
        "participantId": "d85de5b5-7a90-4610-b5ac-7c5ff3d8724a",
        "isMuted": true
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants:getAll?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:28:15 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "991ee510-4ea2-11ec-8e39-efecbabf493[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:28:33 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "991ee510-4ea2-11ec-8e39-efecbabf4936",
          "kind": "groupCallLocator"
        },
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-fba2-1ad0-eef0-8b3a0d00150c"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "69d9e5ba-687b-41b9-abd9-afc437d09a56"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/4a201300-b122-495c-92ff-7460c39f8db9/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:28:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "1b313325-a799-4186-a56d-23a499528bcd"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/4a201300-2cc0-4b58-a0c0-50600078a5b7/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 10:28:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c7a68bd3-5e2d-49b7-8298-8f955209e67b"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1799158983"
  }
}