{
  "Entries": [
    {
      "RequestUri": "https://storage.asm.skype.com/v1/objects/0-eus-d3-00000000000000000000000000000000",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 05:06:49 GMT",
        "x-ms-host": "acstelephonyportaltesting.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 307,
      "ResponseHeaders": {
        "Location": "https://eus1-storage.asm.skype.com/v1/objects/0-eus-d3-00000000000000000000000000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://eus1-storage.asm.skype.com/v1/objects/0-eus-d3-00000000000000000000000000000000",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 05:06:50 GMT",
        "x-ms-host": "acstelephonyportaltesting.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1718630399"
  }
}