{
  "Entries": [
    {
      "RequestUri": "https://us-storage.asm.skype.com/v1/objects/0-wus-d10-e47812f286263a1c0c7f83d08e7a4744",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 Nov 2021 11:15:25 GMT",
        "x-ms-host": "acstelephonyportaltesting.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2008390454"
  }
}