{
  "Entries": [
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 11:09:13 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "k6AxB\u002BFGwk2Vq/BJOfPFNQ.2.0",
        "X-Processing-Time": "233ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 11:09:16 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "22f456b9-12e3-490a-bd75-a2369fef8e4e"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized"
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/:keepAlive?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 11:09:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "22f456b9-12e3-490a-bd75-a2369fef8e4e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized?api-version=2021-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 11:09:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "22f456b9-12e3-490a-bd75-a2369fef8e4e"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-app-validations.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1362913527"
  }
}