{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:50:40 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m8brPBP37Ei5CAHwe/LXGw.2.0",
        "X-Processing-Time": "224ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb71-35de-4ff7-343a0d006085"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:50:42 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb71-35de-4ff7-343a0d006085"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f22d4d62-3a0a-45a6-b970-b5ba1c697d8f"
      },
      "ResponseBody": {
        "callConnectionId": "2f201300-4853-47f8-8286-3d864319b56b"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:50:58 GMT"
      },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0139483a-74f0-499c-8f8e-70e23b631d84"
      },
      "ResponseBody": {
        "participantId": "e2ed7cc8-96ef-40de-a7ba-7d91ea6b432d"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/participants:mute?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:51:11 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a26f7823-0629-462e-bea6-fb3020e4a1e5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/participants:get?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:51:24 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c6b93a38-c771-45c3-a6c5-028e64c69273"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953",
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        },
        "participantId": "e2ed7cc8-96ef-40de-a7ba-7d91ea6b432d",
        "isMuted": true
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/participants:unmute?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:51:36 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a682e6dd-50d2-48aa-a84f-dc48777d1eeb"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:52:25 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "7150932c-5698-4735-b8ee-d694c232c12b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-4853-47f8-8286-3d864319b56b/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 06:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "489bb171-3e65-4adf-897f-9fd5c6263a48"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1018077198"
  }
}