{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:03 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "C\u002BqnZWLJw02Lvd087jmJ9Q.2.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb8c-1bc6-4ff7-343a0d00621a"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:05 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb8c-1bc6-4ff7-343a0d00621a"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4fc0a173-18c4-4a95-9fab-4fee3e88be0e"
      },
      "ResponseBody": {
        "callConnectionId": "2f201300-c967-428d-bfef-fcfcfe7feb71"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:21 GMT"
      },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "80fd90e6-9757-48e5-9fe9-4a7af674dedb"
      },
      "ResponseBody": {
        "participantId": "80554112-48e5-489f-8f07-9a1526ffd6d6"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a177274e-d13f-4514-a732-aacbe5aa8c9a"
      },
      "ResponseBody": {
        "callConnectionId": "2f201300-c967-428d-bfef-fcfcfe7feb71",
        "source": {
          "rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb8c-1bc6-4ff7-343a0d00621a",
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eb8c-1bc6-4ff7-343a0d00621a"
          }
        },
        "alternateCallerId": {
          "value": "\u002B18334241267"
        },
        "targets": [
          {
            "rawId": "4:\u002B918009724858",
            "phoneNumber": {
              "value": "\u002B918009724858"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "toneReceived",
          "participantsUpdated"
        ],
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly94LWNvbnYtdXN3ZS0wMS5jb252LnNreXBlLmNvbS9jb252L1FYbGIyRGxZaFVHcnNwSnFUSVF3dGc_aT0wJmU9NjM3NzIzMDgyMzM2NDI0NTcz",
          "kind": "serverCallLocator"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71/participants:holdMeetingAudio?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:47 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a5edcf8c-1080-4e3f-bdcc-df7ffd6b4ee5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71/participants:resumeMeetingAudio?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:20:59 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "1218ea3b-a09a-4c05-a398-f8a471849369"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:21:11 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-eaec-5fd3-69f0-553a0d003953"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "32fef513-ad28-4ccf-9313-8d0f3eb402d7"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/2f201300-c967-428d-bfef-fcfcfe7feb71/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 07:21:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "84cd0bfd-e2a1-4605-beda-d1eecf4038fd"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "606231490"
  }
}