{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:39:38 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cAHcHUdBwk\u002BX9JZf4fw0fg.2.0",
        "X-Processing-Time": "198ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c791-8ae8-f6c7-593a0d002f88"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:39:39 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c791-8ae8-f6c7-593a0d002f88"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3420b57c-c7df-4a57-8fbf-ff80bb31aa0b"
      },
      "ResponseBody": {
        "callConnectionId": "b71f1300-fa9a-414d-9d51-0cf9ca96cc0d"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/b71f1300-fa9a-414d-9d51-0cf9ca96cc0d/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:39:49 GMT"
      },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "5f2f6037-3ee2-4256-a962-356d280e8087"
      },
      "ResponseBody": {
        "participantId": "74d7d0c7-e905-4e00-beff-b4bd9e3529de"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/b71f1300-fa9a-414d-9d51-0cf9ca96cc0d/participants:mute?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:40:00 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a0ff7a2e-2bad-48dc-bf4b-3af6377e8aa9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/b71f1300-fa9a-414d-9d51-0cf9ca96cc0d/participants:get?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:40:10 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "d621e52a-b839-4ccb-8871-8cdf997d8d6c"
      },
      "ResponseBody": "[{\u0022identifier\u0022:{\u0022rawId\u0022:\u00228:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c\u0022,\u0022communicationUser\u0022:{\u0022id\u0022:\u00228:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c\u0022}},\u0022participantId\u0022:\u002274d7d0c7-e905-4e00-beff-b4bd9e3529de\u0022,\u0022isMuted\u0022:true}]"
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/b71f1300-fa9a-414d-9d51-0cf9ca96cc0d/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:40:35 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-c701-9460-69ff-9c3a0d00f90c"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "5d4402f0-0bca-46ea-ad8e-efb56f8d4d27"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/b71f1300-fa9a-414d-9d51-0cf9ca96cc0d/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 07:40:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "9672e09c-5299-40b6-a3f5-dd565e3e9505"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1306711714"
  }
}